@import 'mc-components/dist/styles/scss/index.scss';

body {
  font-family: montserrat !important;
  letter-spacing: 0.01em;
}

// work around scroll issue on mc-components modal
// v1.8.2
.mc-modal > div > div {
  height: 100%;
  overflow: auto;
}

:export {
  mcColorGray200: $mc-color-gray-200;
  mcColorGray400: $mc-color-gray-400;
  mcColorGray500: $mc-color-gray-500;
  mcColorGray600: $mc-color-gray-600;
  mcColorLight: $mc-color-light;
  mcColorDark: $mc-color-dark;
}
